In [2]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

In [3]:
obj =Series([4,8,12,16])

In [4]:
obj

0     4
1     8
2    12
3    16
dtype: int64

In [5]:
obj.values

array([ 4,  8, 12, 16], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','GERMANY','CHINA','JAPAN','USA'])

In [8]:
ww2_cas['USA']

400000

In [9]:
#check condition 
ww2_cas[ww2_cas>4000000]

USSR       8700000
GERMANY    4300000
dtype: int64

In [10]:
'USSR'in ww2_cas

True

In [13]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'GERMANY': 4300000,
 'CHINA': 3000000,
 'JAPAN': 2100000,
 'USA': 400000}

In [14]:
ww2_Series = Series(ww2_dict)
ww2_Series

USSR       8700000
GERMANY    4300000
CHINA      3000000
JAPAN      2100000
USA         400000
dtype: int64

In [15]:
countries = ['USSR','GERMANY','CHINA','JAPAN','USA','INDIA']

In [16]:
obj2 = Series(ww2_dict,index=countries)
obj2

USSR       8700000.0
GERMANY    4300000.0
CHINA      3000000.0
JAPAN      2100000.0
USA         400000.0
INDIA            NaN
dtype: float64

In [17]:
pd.isnull(obj2)

USSR       False
GERMANY    False
CHINA      False
JAPAN      False
USA        False
INDIA       True
dtype: bool

In [18]:
pd.isna(obj2)

USSR       False
GERMANY    False
CHINA      False
JAPAN      False
USA        False
INDIA       True
dtype: bool

In [19]:
pd.isnull(obj2)

USSR       False
GERMANY    False
CHINA      False
JAPAN      False
USA        False
INDIA       True
dtype: bool

In [20]:
pd.notnull(obj2)

USSR        True
GERMANY     True
CHINA       True
JAPAN       True
USA         True
INDIA      False
dtype: bool

In [21]:
obj2

USSR       8700000.0
GERMANY    4300000.0
CHINA      3000000.0
JAPAN      2100000.0
USA         400000.0
INDIA            NaN
dtype: float64

In [22]:
ww2_Series+obj2

CHINA       6000000.0
GERMANY     8600000.0
INDIA             NaN
JAPAN       4200000.0
USA          800000.0
USSR       17400000.0
dtype: float64

In [23]:
obj2.Title="world war casualities"

In [24]:
obj2

USSR       8700000.0
GERMANY    4300000.0
CHINA      3000000.0
JAPAN      2100000.0
USA         400000.0
INDIA            NaN
dtype: float64

In [25]:
obj2.name='world war 2 casualities'
obj2

USSR       8700000.0
GERMANY    4300000.0
CHINA      3000000.0
JAPAN      2100000.0
USA         400000.0
INDIA            NaN
Name: world war 2 casualities, dtype: float64

In [26]:
obj2.index.name='Countries'

In [27]:
obj2

Countries
USSR       8700000.0
GERMANY    4300000.0
CHINA      3000000.0
JAPAN      2100000.0
USA         400000.0
INDIA            NaN
Name: world war 2 casualities, dtype: float64